.bar-header {
  background-color: #0a428a;
}

ion-side-menu li .item {
  background-color: #313848;
  border-color: #4F5865;
  color: #BCC3CF;

}

ion-side-menu li.item {
  border-color: #4F5865;
  }

ion-side-menu li.item.item-divider {
  background-color: #3E4755;
}

.ion-ionic {
  color: red;
}
.ion-home {
  color: blue;
}
.ion-ios-bell {
  color: yellow;
}
.ion-chatbox {
  color: green;
}
.ion-calendar {
  color: white;
}
.ion-folder {
  color: purple;
}
.ion-earth {
  color: maroon;
}
.ion-help-buoy {
  color: red;
}
.ion-gear-b {
  color: dimgray;
}
.ion-log-out {
  color: red;
}

.ion-ionic:before {
  content: "\f3ea";
}

.mm-site_mm_courses .tabs-icon-left {
  background-color: #EBEFF8;
}
.mm-site_mm_courses section h2 span {
  font-weight: bold;
}

/* 3.5 styles */

/** Header color */
.toolbar-background-md,
.toolbar-background-ios,
.toolbar-background-wp {
  background: #0a428a;
}

.toolbar-background-md {
  background: #0a428a;
}

/* Bottom tabs selected color */
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-md a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-ios a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-wp .tab-button[aria-selected=true] .tab-button-icon,
.tabs-wp .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-wp a[aria-selected=true].tab-slide .tab-button-icon {
  color: #00a1e4;
}

/* Tabs color*/
.core-tabs-bar .slides a.tab-slide[aria-selected=true] {
  color: #1d1d1d !important;
  border-bottom-color: #1d1d1d !important;
}

/* Loading spinner */
.spinner circle, .spinner line {
    stroke: #5069A1;
}

/* Buttons */
.button-md,
.button-ios,
.button-wp,
.fab-ios,
.fab-md,
.fab-wp {
  background-color: #5069A1;
}

.button-outline-md,
.button-outline-ios,
.button-outline-wp {
    border-color: #5069A1;
    background-color: #ffffff;
    color: #5069A1;
}

.button-clear-md,
.button-clear-ios,
.button-clear-wp {
  background-color: transparent;
  color: #5069A1;
}

/* Custom */

.tabs-md .tabbar {
    background: #1d1d1d;
}
.tabs-md .tab-button-icon {
    min-width: 2.4rem;
    font-size: 2.4rem;
    color: #ffffff;
}

ion-app.app-root .core-tabs-bar a.tab-slide[aria-selected=true] {
    color: #00a1e4!important;
    border: 0!important;
    border-bottom: 2px solid #00a1e4!important;
    padding: 0!important;
}
ion-app.app-root .core-button-select, ion-app.app-root ion-select.core-button-select {
    background-color: #fff;
    color: #00a1e4;
    white-space: normal;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    align-self: start;
    max-width: none;
    text-align: left;
    text-align: start;
}

ion-app.app-root core-progress-bar progress .progress-bar-fallback span, ion-app.app-root core-progress-bar progress[value]::-webkit-progress-value {
    background-color: #00a1e4;
    border-radius: 0;
}

ion-app.app-root .core-button-select .select-icon .select-icon-inner, ion-app.app-root ion-select.core-button-select .select-icon .select-icon-inner {
    color: #0a428a;
}

/* Custom */

/* More icon colors */
page-core-mainmenu-more .ion-md-notifications,
page-core-mainmenu-more .ion-ios-notifications,
page-core-mainmenu-more .ion-md-notifications {
  color: yellow;
}

page-core-mainmenu-more .ion-md-stats,
page-core-mainmenu-more .ion-ios-stats,
page-core-mainmenu-more .ion-md-stats {
  color: yellow;
}

page-core-mainmenu-more .ion-md-map,
page-core-mainmenu-more .ion-ios-map,
page-core-mainmenu-more .ion-wp-map {
  color: green;
}

page-core-mainmenu-more .ion-md-folder,
page-core-mainmenu-more .ion-ios-folder,
page-core-mainmenu-more .ion-wp-folder {
  color: purple;
}

page-core-mainmenu-more .ion-md-link,
page-core-mainmenu-more .ion-ios-link,
page-core-mainmenu-more .ion-wp-link {
  color: maroon;
}

page-core-mainmenu-more .ion-md-globe,
page-core-mainmenu-more .ion-ios-globe,
page-core-mainmenu-more .ion-wp-globe {
  color: maroon;
}

page-core-mainmenu-more .ion-md-qr-scanner,
page-core-mainmenu-more .ion-ios-qr-scanner,
page-core-mainmenu-more .ion-wp-qr-scanner {
  color: red;
}

page-core-mainmenu-more .ion-md-help-buoy,
page-core-mainmenu-more .ion-ios-help-buoy,
page-core-mainmenu-more .ion-wp-help-buoy {
  color: red;
}

page-core-mainmenu-more .ion-md-cog,
page-core-mainmenu-more .ion-ios-cog,
page-core-mainmenu-more .ion-wp-cog {
  color: dimgray;
}

page-core-mainmenu-more .ion-md-log-out,
page-core-mainmenu-more .ion-ios-log-out,
page-core-mainmenu-more .ion-wp-log-out {
  color: red;
}